BASE_URL=https://nginx-central-anpr.testing.docker.dev-dnd.com/www/
APP_USER=
APP_PASSWORD=

# Biblioteca Digital
BD_BASE_URL=http://vms-extractions-web.testing.deploy.danaide.com.ar/
BD_USER=
BD_PASSWORD=

# Katalon (ejecución por consola)
KATALON_API_KEY=
