BASE_URL=https://nginx-central-anpr.testing.docker.dev-dnd.com/www/
APP_USER=
APP_PASSWORD=

# Biblioteca Digital
BD_BASE_URL=http://vms-extractions-web.testing.deploy.danaide.com.ar/
BD_USER=
BD_PASSWORD=

# AS (servidor de analíticas, acceso por SSH)
AS_HOST=10.150.2.165
AS_USER=
AS_PASSWORD=
AS_DIR=/home/testing/server2.4

# Katalon (ejecución por consola)
KATALON_API_KEY=
