
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Secrets
.env

# Cypress
/cypress/screenshots/
/cypress/videos/
/cypress/downloads/
/cypress/reports/

# Comparación de herramientas
/reports/
/selenium/reports/
